name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14, 16, 18]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - name: npm install and test
        run: |
          npm ci
          npm test

  # Testing the `path` parameter
  # Glitch Project: https://glitch.com/edit/#!/github-action-sandbox
  # Resulting output: https://github-action-sandbox.glitch.me/
  e2e-path-test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Sync using current glitch-sync code
        uses: ./
        with:
          auth-token: '${{ secrets.SANDBOX_AUTHTOKEN }}'
          project-id: '${{ secrets.SANDBOX_PROJECTID }}'
          path: '__tests__/path' # sync `__tests__/path` folder
