name: Glitch Sync

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
    - name: Sync to Glitch Project
      uses: kanadgupta/glitch-sync@main
      with:
        project-id: '${{ secrets.projectId }}'
        auth-token: '${{ secrets.authToken }}'
